@font-face {
  font-family: 'KOMTITT_';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KOMTITT_.ttf);
}@font-face {
  font-family: 'AlegreSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AlegreSans-Regular.ttf);
}